/* Global Footer
/* ---------------------------------------------------------- */

.gh-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8vmin 4vw;
}

.gh-foot .gh-container {
    width: auto;
}

.gh-foot a {
    color: inherit;
}

.gh-foot-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-foot-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.8rem;
}

.gh-foot-menu .nav li {
    margin: 0 1.5vmin;
    padding: 0;
}

.gh-foot-menu .nav a {
    display: inline-block;
    padding: 3px 0;
    text-decoration: none;
    box-shadow: 0 -1px 0 0 currentcolor inset;
}

.gh-foot-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: right;
}

.gh-foot-actions-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 2vmin 0 0 0;
}

.gh-foot-actions-list a {
    display: inline-block;
    margin: 0 1.5vmin;
    padding: 5px 0;
}

.gh-foot-meta {
    margin: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-foot-menu .nav {
        font-size: 1.6rem;
    }
}
